@model IEnumerable<SSManagment.BL.DTOs.UniversityDTO>

@{
    ViewData["Title"] = "Index";
}

<h3>Universities</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
             
            </td>
        </tr>
}
    </tbody>
</table>
